<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>

<%= image_tag @post.image, width: '300' %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
<%= link_to 'Back', posts_path %>

<br>

<h3>Comment:</h3>
<%= form_for Comment.new, url: '/comments' do |f| %>
    <%= f.text_area :message %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.submit "Create" %>
<% end %>

<% @post.comments.each do |comment| %>
  <div>
    <hr>
    <strong>
      <%= comment.user.email %>
    </strong>
    <p><%= comment.message %></p>
 
          <%= link_to 'Edit', edit_comment_path(comment) %>
          <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
     
    <hr>
  </div>
<% end %>
